.map-section {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

[id$="map"] {
  height: inherit;
  border-radius: 30px;
  background-color: var(--white-color);
}

.leaflet-tile-pane {
  -webkit-filter: var(--map-filter);
  filter: var(--map-filter);
}

.leaflet-control-attribution {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.leaflet-control-attribution {
  display: none;
}

/*
.leaflet-control a svg path {
  display: none;
}

.leaflet-control span {
  display: none;
}
*/