.map-section {
  display: flex;
  flex-direction: column;
  gap: 5px;

  height: 100%;
  width: 100%;
  overflow: hidden;
}

.map-section figcaption {
  align-self: end;
  font-size: 0.8rem;
  color: var(--sub-color)
}

[id$="map"] {
  display: flex;
  align-items: end;
  justify-content: end;

  position: relative;
  height: inherit;
  width: inherit;
  border-radius: 30px;
  background-color: var(--button-color);

  z-index: 0;
  border-collapse: separate;
  perspective: 1px;
}

.leaflet-tile-pane {
  -webkit-filter: var(--map-filter);
  filter: var(--map-filter);
}

.leaflet-control-attribution {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.leaflet-control-attribution {
  display: none;
}

.map-control {
  position: absolute;
  z-index: 999999;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-right: 20px;
  margin-bottom: 10px;
}

.map-control button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: var(--button-color);
  border-radius: 15px;
}

.map-control button i {
  color: var(--sub-color);
  font-weight: 700;
}

@media (max-height: 675px) {
  .map-control {
    flex-direction: row;
  }
}
